*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow: none;
}
.navcontainer{
    width: 100vw;
    background-color: rgb(97, 97, 167);
    min-height: 80px;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
#navlist{
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#navlogo{
    font-size: 2.8rem;
   font-family: fantasy;
}