  .box{
    width: 400px;
    height: 400px;
    background-color: pink;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 3s linear 1s;
}
p{
    font-size: 40px;
}
.box:hover{
    /* transform: rotate(360deg); */
    /* transform: scale(2); */
    /* transform: scale(0.5); */
    /* transform: skew(45deg); */
    transform: translate(500px,500px);
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}